// app global css
@font-face {
  font-family: '阿里妈妈方圆体 VF Thin';
  src:
    url('./fonts/AlimamaFangYuanTiVF-Thin.woff2') format('woff2'),
    url('./fonts/AlimamaFangYuanTiVF-Thin.woff') format('woff');
  font-display: swap;
}

.my-font {
  font-family: '阿里妈妈方圆体 VF Thin';
}
